<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.9.1.2588" targetFramework="xamarinmac20" />
  <package id="ReactiveUI" version="9.16.6" targetFramework="xamarinmac20" />
  <package id="Splat" version="7.2.1" targetFramework="xamarinmac20" />
  <package id="System.Reactive" version="4.1.5" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinmac20" />
</packages>